.wrapper {
    position: relative;
    width: 366px;
    height: 366px;
    overflow: hidden;
}


.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: aqua;
    left: 0;
    top: 100%;
    transition: 0.5s;
}

.text {
    position: absolute;
    top: 70%;
    left: 10%; 
}

.wrapper:hover .shadow {
    top: 0;
    left: 0;
}

